@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&display=swap");

:root {
  --primary-blue: #2563eb;
  --primary-dark: #1e40af;
  --text-main: #1f2937;
  --text-light: #6b7280;
  --bg-light: #f3f4f6;
  --white: #ffffff;
}

body {
  font-family: "Outfit", sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--white);
  color: var(--text-main);
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

input,
button {
  font-family: inherit;
}
